@media screen and (min-width: 501px) and (max-width: 600px) {
    .width{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    #main_menu{
        padding: 0;
        margin-top: 20px;
    }
    .logo_part{
        width: 202px;
    }
    .logo_part img {
        width: 40px;
        height: 45px;
    }
    .logo_part a:last-child {
        font-size: 30px;
        margin-left: 10px;
    }
    .menu_part ul li{
        display: none;
    }
    .menu_part ul i{
        display: block;
        font-size: 30px;
        color: #131318;
    }

    /* banner part start */
    #banner {
        padding-bottom: 50px;
    }
    .banner_text h1 {
        font-size: 43px;
        padding-top: 50px;
    }
    .banner_text p {
        width: 356px;
    }
    .banner_third {
        width: 390px;
        padding: 20px;
    }
    .banner_third form input {
        display: block;
        width: 96%;
        margin: 0 auto;
        margin-bottom: 10px !important;
        padding: 0;
        padding-left: 20px;
        margin-top: 10px;
    }
    .banner_third form select {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }
    .banner_third form button {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }

    /* popular Tour part start */
    #popular_tour {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    .tour_text_part {
        margin-right: 0;
    }

    .tour_text_part button {
        margin-bottom: 30px;
    }

    /* destination part start */
    #destination {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .common_Head p {
        width: 410px;
    }
    .first_part {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        row-gap: 20px;
    }
    .second_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
    }
    .last_img img {
        height: 288px;
    }
    
    .last_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
    }

    /* choose us part start */
    .chooseUs_main {
        grid-template-columns: repeat(1, 1fr);
    }
    .last_div_choose {
        width: 100%;
    }

    /* Extra bonus part start */
    #team{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .team_img img {
        height: 150px;
    }

    .team_main{
        grid-template-columns: repeat(2, 1fr);
    }

    .team_text p {
        font-size: 14px;
    }

    /* letter part Start */
    #letter {
        grid-template-columns: repeat(1, 1fr);
    }
    .letter_img img{
        width: 100%;
    }
    .overlay2 {
        width: 250px;
        right: 15px;
        bottom: 50px;
        height: 80px;
    }
    .overlay2 a {
        font-size: 18px;
        margin-top: 10px;
    }
    
    .overlay2 h3 {
        font-size: 25px;
    }

    /* footer part start */
    .top_part p {
        width: 430px;
    }

}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .width{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    #main_menu{
        padding: 0;
        margin-top: 20px;
    }
    .logo_part{
        width: 202px;
    }
    .logo_part img {
        width: 40px;
        height: 45px;
    }
    .logo_part a:last-child {
        font-size: 30px;
        margin-left: 10px;
    }
    .menu_part ul li{
        display: none;
    }
    .menu_part ul i{
        display: block;
        font-size: 30px;
        color: #131318;
    }

    /* banner part start */
    #banner {
        padding-bottom: 50px;
    }
    .banner_text h1 {
        font-size: 30px;
        padding-top: 50px;
    }
    .banner_text p {
        width: 310px;
    }
    .banner_third {
        width: 252px;
        padding: 20px;
    }
    .banner_third form input {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
        padding: 0;
        padding-left: 20px;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .banner_third form select {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }
    .banner_third form button {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }

    /* popular Tour part start */
    #popular_tour {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .tour_text_part button {
        width: 129px;
        height: 43px;
        font-size: 17px;
    }

    .common_Head h3 {
        font-size: 26px;
    }

    .tour_text_part h3 {
        font-size: 35px;
    }

    .tour_text_part {
        margin-right: 0;
    }

    .tour_text_part button {
        margin-bottom: 30px;
    }

    /* destination part start */
    #destination {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .common_Head p {
        width: 310px;
        text-align: justify;
    }
    .first_part {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px;
        row-gap: 20px;
    }
    .second_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px;
    }
    .last_img img {
        height: 200px;
    }
    
    .last_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px;
    }

    /* choose us part start */
    .chooseUs_main {
        grid-template-columns: repeat(1, 1fr);
    }
    .last_div_choose {
        width: 100%;
    }

    /* Extra bonus part start */
    #team{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .team_img img {
        height: 200px;
    }

    .team_main{
        grid-template-columns: repeat(1, 1fr);
    }

    /* letter part Start */
    #letter {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }
    .letter_img img{
        width: 100%;
    }
    .overlay2 {
        width: 180px;
        right: 5px;
        bottom: 35px;
        height: 50px;
        border-radius: 10px;
    }
    .overlay2 a {
        font-size: 15px;
        margin-top: 0;
    }
    
    .overlay2 h3 {
        font-size: 20px;
    }

    /* footer part start */
    .top_part p {
        width: 340px;
    }
    #footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}