@media screen and (max-width: 600px) {
    .width{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    #main_menu{
        padding: 0;
        margin-top: 20px;
    }
    .logo_part{
        width: 202px;
    }
    .logo_part img {
        width: 40px;
        height: 45px;
    }
    .logo_part a:last-child {
        font-size: 30px;
        margin-left: 10px;
    }
    .menu_part ul li{
        display: none;
    }
    .menu_part ul i{
        display: block;
        font-size: 30px;
        color: #131318;
    }

    /* banner part start */
    #banner {
        padding-bottom: 50px;
    }
    .banner_text h1 {
        font-size: 43px;
        padding-top: 50px;
    }
    .banner_text p {
        width: 356px;
    }
    .banner_third{
        width: 470px;
        padding: 20px;
    }
    .banner_third form input {
        display: block;
        width: 96%;
        margin: 0 auto;
        margin-bottom: 10px !important;
        padding: 0;
        padding-left: 20px;
        margin-top: 10px;
    }
    .banner_third form select {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }
    .banner_third form button {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }

    /* popular Tour part start */
    #popular_tour {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    .tour_text_part {
        margin-right: 0;
    }

    .tour_text_part button {
        margin-bottom: 30px;
    }

    /* destination part start */
    #destination {
        margin-top: 50px;
    }
    .common_Head p {
        width: 410px;
    }
    .first_part {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        row-gap: 20px;
    }
    .second_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
    }
    .last_img img {
        height: 288px;
    }
    
    .last_part{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
    }




}